body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #262626;
    font-family: sans-serif;
}

a {
    padding: 40px 80px;
    text-decoration: none;
    border: 3px solid white;
    color: white;
    font-size: 80px;
    text-transform: capitalize;
    animation-play-state: paused;
}

a:hover {
    color: red;
    border: 3px solid red;
    animation: shake .3s linear 1;
    transition: all 0.3s;
}

@keyframes shake {
    33% {
        transform: rotate(10deg);
    }

    66% {
        transform: rotate(-10deg);
    }

    100% {
        transform: rotate(10deg);
    }
}