body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0B1734;
}

.container {
    position: relative;
    width: 100px;
    height: 100px;
    background-color: transparent;
    transform: rotate(45deg);
    animation: expand 1s linear infinite;
}

.container span {
    position: absolute;
    height: 50px;
    width: 50px;
   animation: rotate 1s linear infinite;
}

.container span:nth-child(1) {
    top: 0;
    left: 0;
    background-color: #FCEBA7;
}

.container span:nth-child(2) {
    top: 0;
    right: 0;
    background-color: #55DD89;
}

.container span:nth-child(3) {
    bottom: 0;
    right: 0;
    background-color: #FD6C64;
}

.container span:nth-child(4) {
    bottom: 0;
    left: 0;
    background-color: #1F7880;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    10% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(90deg);
    }

    90% {
        transform: rotate(90deg);
    }

    100% {
        transform: rotate(90deg);
    }
}

@keyframes expand {
    0% {
        width: 100px;
        height: 100px;
    }

    10% {
        width: 100px;
        height: 100px;
    }

    50% {
        width: 150px;
        height: 150px;
    }

    90% {
        width: 100px;
        height: 100px;
    }

    100% {
        width: 100px;
        height: 100px;
    }
}


